<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	    <title><%= title %></title>
	    <link rel='stylesheet' href='/stylesheets/style.css'>
	    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'>
	</head>
	<body>
	    <div class='content'>
	    	<h1><%= title %></h1>
	    	<div>
	    		<form action="/setting" method="post">
	    			<input type="submit" value="Setting">
	    		</form>
	    	</div>
		</div>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	</body>
</html>
